 <div class="container">
<article class="message">
  <div class="message-body">
  Hello {{username}}. Welcome. Have a lovely day.
  </div>
</article>
<h1>Click here to logout ==> <a href="/logout">Logout</a></h1>
</div>


